<div class="container-fluid bg-one" id="">
    <div class="row">
        <div class="col-md-10 col-lg-6 col-sm-10 text-left infos">
            <h1>Rede colaborativa de rastreabilidade</h1>
            <p>O GetPharma é uma plataforma facilitadora de dados de rastreabilidade para
                comunicação horizontal entre os elos da cadeia de suplementos de medicamentos,
                funcionando como uma rede interligada com possibilidades para download e
                upload de dados.</p>
        </div>
        <div class="col-md-12 col-lg-6 col-sm-12 order-first order-lg-last text-center px-0">
            <iframe class="video-caixa" src="https://www.youtube.com/embed/_M364Q-tYyo" frameborder="0"
                allowfullscreen></iframe>

        </div>
    </div>
</div>

<div class="container-fluid bg-two" id="trial">
    <div class="row">
        <div class="col-12 mx-auto form">
            <div class="row">
                <div class="col-lg-4 col-md-8 mx-auto">
                    <form action="send.php" method="post" enctype="application/x-www-form-urlencoded">
                        <h6 class="pb-4 pt-2 text-center">Faça um trial </h6>

                        <div class="form-group">
                            <input type="text" class="form-control bg-color-form rounded-2 border" name="contato-nome"
                                id="contato-nome" placeholder="Nome" required>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control bg-color-form rounded-2 border"
                                name="contato-cellphone" id="contato-cellphone" placeholder="Telefone" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control bg-color-form rounded-2 border" name="contato-email"
                                id="contato-email" placeholder="Email" required>
                        </div>
                        
                        <div class="form-group">
                            <textarea name="contato-mensagem" class="form-control bg-color-form rounded-2 border"
                                id="contato-mensagem" cols="30" rows="4" placeholder="Mensagem" required></textarea>
                        </div>
                        <span id="carousel"></span>
                        <div class="campo_form">
                            <button type="submit"
                                class="btn rounded-2 py-2 text-center btn-block mt-2  btn-primary  text-theme-bold  text-uppercase">Fazer
                                um Trial</button>
                        </div>
                    </form>
                    
                </div>
            </div>

        </div>
    </div>
    
    <div class="row" >
        <div class="col-12 carrossel text-center">
            <app-carousel></app-carousel>
        </div>
    </div>


</div>