.bg-one{
    background-image: url("src/assets/background/bg-one.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-one h1{
    color: #53AFAB;
    font-family: Gotham-Medium;
}


.bg-one p{
    color: #707070;
    font-family: Gotham-Book;
    
}
.infos{
    

}


.video-caixa{
    
}

.form{
    padding-top: 100px;
    padding-bottom: 100px;
}

form{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

form input{
    font-family: Gotham-Book;
}

form h6{
    color: #53AFAB;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Gotham-Medium;

}


.bg-two{
    background-image: url("src/assets/background/bg-two.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #53AFAB;
}

.video-caixa{
    
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 768px) {

    .video-caixa{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: 20px;
    }
    
    .infos{
        padding: 40px 10px;
    
    }

    .bg-one h1{
        font-size: 30px
    }

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .video-caixa{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .infos{
        padding: 80px 40px;
    }

    .bg-one h1{
        font-size: 30px
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .video-caixa{
        width: 100%;
        height: 100%;
        padding: 70px;
    }
    .infos{
        padding: 100px;
    }

    .bg-one h1{
        font-size: 41px
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .video-caixa{
        width: 100%;
        height: 100%;
        padding: 100px;
    }
  
    .infos{
        padding: 102px;
    }

    
    

}

