<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center footer">
      <p>Desenvolvido por</p>
      <img src="./assets/logos/logo-marketing-manager.png" alt="Marketing-Manager">


    </div>
  </div>
</div>