<header [ngClass]="{'nav-opened': opened}">
    <div class="container-fluid bg-light" *ngIf="!helper.isMobile">
        <div class="col-5 ml-auto text-right">
            <a href="#" class="d-inline-block mr-3 text-theme clean-link text-theme-medium link-hover" 
            data-toggle="modal" data-target="#auth">
                <img src="./assets/navbar/buscar-verde.png" alt="" class="md-to-blue ">
                Login
            </a>
            <a href="#" class="d-inline-block text-theme clean-link mr-3 text-theme-medium link-hover" 
            data-toggle="modal" data-target="#consult">
                <img src="./assets/navbar/key-verde.png" alt="" class=" md-to-blue">
                Consultar evento
            </a>
        </div>
    </div>
    <nav class="navbar navbar-light nav-theme" [ngClass]="{'mobile': helper.isMobile , 'nav-top': navTop }">
        <a class="navbar-brand ml-3 ml-lg-5" href="#">
            <img [src]="opened?'./assets/navbar/logo-verde.png': './assets/navbar/logo-branco.png'"
                class="d-inline-block img-white">
        </a>
        <div class="nav-mobile" *ngIf="helper.isMobile">
            <a href="javascript:void(0)"  class="nav-link-theme clean-link"
                data-toggle="modal" data-target="#consult">
                <img src="./assets/navbar/buscar-branco.png" class="md-to-blue ">
            </a>
            <a href="javascript:void(0)" class="nav-link-theme clean-link"
                data-toggle="modal" data-target="#auth">
                <img src="./assets/navbar/key-branco.png" class=" md-to-blue">
            </a>

            <a href="javascript:void(0)" (click)=" toggleNav(1)" class="navbar-toggle nav-link-theme">
                <img [src]="opened? './assets/icones/menu-close.svg': './assets/icones/menu-open.svg'" alt="">
            </a>
        </div>
        <div class="navbar-theme text-uppercase">
            <ul>
                <li class="">
                    <a href="javascript:void(0)"  (click)="helper.scroll('trial'); toggleNav(0)"
                     [ngClass]="{'btn btn-outline-light rounded': !helper.isMobile}" class="text-theme-medium">
                        Faça um trial
                    </a>
                </li>

                <li class="">
                    <a href="javascript:void(0)" (click)="helper.scroll('carousel');toggleNav(0)" class="theme-nav-link text-theme-medium">Mídia</a>
                </li>

                <li class="text-access mt-3" *ngIf="helper.isMobile" (click)=" toggleNav(0)">
                    <a href="javascript:void(0)" class="theme-nav-link text-theme-medium" data-toggle="modal" data-target="#consult">
                        <img src="./assets/navbar/key-verde.png" alt="" class=" md-to-blue">
                        Consultar evento
                    </a>
                </li>

                <li class="text-access " *ngIf="helper.isMobile" (click)=" toggleNav(0)">
                    <a href="javascript:void(0)" class="theme-nav-link text-theme-medium" data-toggle="modal" data-target="#auth">
                        <img src="./assets/navbar/buscar-verde.png" alt="" class="md-to-blue ">
                        Login
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<app-modal></app-modal>

