.nav-theme {
    background-color: var(--blue-theme);
}

.navbar-theme  {
    padding-right: 20px;
}


.navbar-theme ul {
    list-style: none;
    padding: 0;
    display: inline;
}

.navbar-theme ul li {
    display: inline-block;
    padding: 5px 10px;
}

.navbar-theme ul li .theme-nav-link {
    color: var(--white);
}



.navbar-toggle {
    display: none;
}

.nav-theme.mobile  .navbar-toggle {
    display: inline-block;
    position: relative;
}

.nav-theme.mobile .nav-link-theme {
    padding: 0 10px;
}

.nav-opened .nav-theme.mobile  .navbar-toggle, 
.nav-opened .navbar-brand {
    position: fixed;
    top: 24px;
    z-index: 1000;
    padding: 0;
}
.nav-opened .nav-theme.mobile  .navbar-toggle {
    right: 25px;
}

.nav-opened .navbar-brand {
    left: 15px;
}

.nav-opened .navbar-theme{
    width: 0;
    height: 0;
}
.nav-theme.mobile .navbar-theme {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 300ms;
}

.nav-opened .nav-theme.mobile .navbar-theme {
    visibility: visible;
    z-index: 999;
    width: 100%;
    overflow: auto;
    padding: 170px 0 0 30px;
    background-color: var(--white);
    transition: width 300ms;
}

.nav-opened .nav-theme.mobile ul:not(.text-access) {
    font-size: 22px;
}
.nav-opened .nav-theme.mobile .text-access {
    font-size: 16px;
}
.nav-opened .nav-theme.mobile .text-access img {
    margin-right: 10px;
}
.nav-opened .nav-theme.mobile ul li {
    display: block;
    padding: 10px 0;
}

.nav-opened .nav-theme.mobile ul li>a {
    color: var(--blue-theme);
}

@keyframes effectNav {
    from {
        transform: translateY(-100px);
    }
}
.nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: effectNav 200ms;
    z-index: 999;
}




