
<section >
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h4 class="text-light text-theme-bold text-midia" >GetPharma na Mídia</h4>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 mx-auto my-3">
            <ngx-slick-carousel class="carousel slider-nav" 
                #slickModal="slick-carousel" 
                [config]="slideConfig"
                (init)="slickInit($event)" 
                (breakpoint)="breakpoint($event)" 
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem  class="slide text-left text-white " *ngFor="let slide of slides">
                    <div class="carousel-content px-4">
                        <figure >
                            <img [src]="slide.img" alt="" class="w-100" >
                        </figure>
                        <small class="text-theme-book small-theme">{{ slide.data }}</small>
                        <h4 class="text-theme-bold">{{ slide.title }}</h4>
                        <p class="mt-2 text-theme-book">
                            {{ slide.description }}
                        </p>
                    </div>
                </div>
              
            </ngx-slick-carousel>
            <div class="arrow" *ngIf="!helper.isMobile">
                <a href="javascript:void(0)" class="arrow-left" (click)="slickModal.slickPrev()">
                    <img src="./assets/icones/arrow.svg" alt="">
                </a>
                <a href="javascript:void(0)" class="arrow-right" (click)="slickModal.slickNext()">
                        <img src="./assets/icones/arrow.svg" alt="" style="transform: rotateY(180deg)">
                </a>
            </div>
        </div>
    </div>
</section>