h4{
    color: #fff;
    font-size: 28px;
    font-family: Gotham-Medium;
}

.arrow {
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    width: 100%;
}

.arrow .arrow-left {
    float: left;
    margin-left: -15px;
}
.arrow .arrow-right {
    float: right;
    margin-right: -15px;
}

.text-midia {
    letter-spacing: 1px
}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 768px) {
    

}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
   

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  

}

