<div class="modal center" tabindex="-1" role="dialog" id="consult">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body px-lg-4 px-3 py-5">
                <h4 class="text-theme text-theme-book pb-3">
                    Chave NFE/Chave GetPharma
                </h4>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control rounded-0" placeholder="Digite sua chave de acesso">
                    </div>
                </form>
                <button type="button" class="btn btn-primary btn-block text-theme-bold  text-uppercase">
                    Consultar
                </button>
            </div>
        </div>
    </div>
</div>



<div class="modal center" tabindex="-1" role="dialog" id="auth">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body px-lg-4 px-3 py-4">
                <h4 class="text-theme text-theme-book pb-3">
                    Efetue o Login ou Cadastre-se
                </h4>
                <form action="">
                    <div class="form-row">
                        <div class="col-12 form-group">
                            <input type="email" class="form-control rounded-0" placeholder="Login">
                        </div>
                        <div class="col-12 form-group">
                            <input type="password" class="form-control rounded-0" placeholder="Senha">
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary btn-block text-theme-bold  text-uppercase">Entrar</button>
                <button type="button" class="btn btn-outline-primary btn-block text-theme-bold  text-uppercase">Cadastrar</button>
            </div>
            
        </div>
    </div>
</div>