/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 768px) {
    h4  {
        font-size: 18px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    h4  {
        font-size: 18px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {

    h4  {
        font-size: 22px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    
    h4  {
        font-size: 22px;
    }
}