
/* You can add global styles to this file, and also import other style files */
:root {
    --blue-theme: #3ab3aa
}


body::-webkit-scrollbar-track {
    background-color: #53AFAB ;
}
body::-webkit-scrollbar {
    width: 6px;
    background: #53AFAB;
}
body::-webkit-scrollbar-thumb {
    background:  #707070;
}
small.small-theme {
    font-size: 15px;
    font-weight: 300 !important
}

.text-theme {
    color: var(--blue-theme);
}
.text-theme-bold {
    font-family: 'Gotham-Bold';
}
.text-theme-medium {
    font-family: 'Gotham-Medium';
    font-weight: 500;
}
.text-theme-book {
    font-family: 'Gotham-Book';
}
.btn-primary.btn {
    background-color: #53AFAB;
    border-color: transparent;
}
.btn-primary.btn:hover {
    border-color: #53AFAB;
    background-color: rgb(29, 148, 142)
}

.btn-outline-primary.btn {
    border-color: #53AFAB;
    color: #53AFAB;
}
.btn-outline-primary.btn:hover {
    border-color: #53AFAB;
    background-color: #53AFAB;
    color: #FFF
}

.modal.center {
    top: 19%
}

a:hover {
    text-decoration: none !important
}

a.link-hover:hover {
    color: rgb(29, 148, 142)
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('./assets/fonts/Gotham-Bold.otf') format('otf'), url('./assets/fonts/Gotham-Bold.woff2') format('woff2'), url('./assets/fonts/Gotham-Bold.woff') format('woff'), url('./assets/fonts/Gotham-Bold.ttf') format('truetype'), url('./assets/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('./assets/fonts/Gotham-Book.otf') format('otf'), url('./assets/fonts/Gotham-Book.woff2') format('woff2'), url('./assets/fonts/Gotham-Book.woff') format('woff'), url('./assets/fonts/Gotham-Book.ttf') format('truetype'), url('./assets/fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('./assets/fonts/Gotham-Medium.otf') format('otf'), url('./assets/fonts/Gotham-Medium.woff2') format('woff2'), url('./assets/fonts/Gotham-Medium.woff') format('woff'), url('./assets/fonts/Gotham-Medium.ttf') format('truetype'), url('./assets/fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
